.social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;

  &__header {
    display: flex;
    align-items: baseline;
    margin-bottom: 20px;
  }
}

.social__title {
  margin: 0 0;
  padding: 0;
  font-size: $font-main;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-white;
}

.social__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;

  & :not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: $color-white;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    background-color: $color-accent;
    color: $color-white;
  }
}

.social__icon {
  margin: auto;
  fill: currentColor;
}
