$color-main: #212121; //main color for text and icons.
$color-accent: #2196f3; //accent color for text, buttons, hovering etc.
$color-white: #ffffff; //white color for some BGs and text
$color-text: #757575; //secondary color for text, for text on dark BG
$color-main-bg: #2f303a; //color for main BG
$color-second-bg: #f5f4fa; //color for light BG
$color-fill: #afb1b8; //default fill for icons
$font-main: 14px; //font-size for text
$font-second: 16px; //font-size for text
